body {
  background-image: url(images/stripes.jpg);
}


.main {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 1);
  border-radius: 25px;

  /*position: fixed;*/
  overflow: hidden; /* prevents child margin moving the parent */
}

#tableForm {
  overflow: hidden;
  font-family: tahoma;
  font-size : 150%;
  margin-bottom: 40px;
  text-align: center;

  float: center;
  
}

#welcome_block {
  overflow: hidden;
  font-family: tahoma;
  font-size : 150%;
  width:100%;
  height:30%;
  text-align: center;
  background: rgba(35, 145, 196, 1);
  color: white;
  margin-right: 20%;
  margin-top: 20%;
  float: center;
}

#logo {
  overflow: hidden;
  width : 200px;
  height : 200px;
  position:absolute;
  margin-left: 42%;

}


.camera_button_block {
  width: 100%;
  height: 100%;
  margin-left: 46%;
  margin-top: 10%;
  background: rgba(255, 255, 255, 1);
}

.camera_image {
    background: url(images/camera_icon.png) no-repeat;
    background-size: cover;
    display: block;
    position: relative;
    margin-left: 5px;
    width: 60px;
    height: 60px;
}

.camera_button {
  width: 70px;
  height: 60px;
  margin-right: 100px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.preview_img {
  margin-top: 5%;
  margin-left: 41%;
  float: none;

}

.grab_url {
  margin-top: 5%;
  margin-left: 60%;

}

#page1_block {
  width:auto;
  margin-left: 40%;
  margin-top: 5%;
}






/* HERE IS FOR analyze_receipt.html */
.person1 {
  position:absolute;
  width:100px;
  height:100px;
  top:10%;
  left:50%;
  margin-top: -50px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.person2 {
  position:absolute;
  width:100px;
  height:100px;
  top:30%;
  left:50%;
  margin-top: -50px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.person3 {
  position:absolute;
  width:100px;
  height:100px;
  top:50%;
  left:50%;
  margin-top: -50px;
  margin-left: -50px;
  background: rgba(255, 255, 255, 1);
  overflow: hidden;
}

.orange {
  width:30px;
  height:30px;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
  background-color: orange;
}

.blue {
  width:30px;
  height:30px;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
  background-color: blue;

}

.red {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 35px;
  margin-bottom: 10px;
  background-color: red;
}
